@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@300;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
p {
  font-family: "Tomorrow", sans-serif;
}

img {
  border-radius: 50px;
}
